!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties
*.iml
.gradle
local.properties
.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
/build/
/app/release
# Ignore Gradle GUI config
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties
